<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Asymetrex Coin Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row style="text-align: center;">

      <ion-col>
        <ion-card>

          <ion-card-header>
            <img src="assets/coin-i-ath.png" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>

          <ion-card-header>
            <img src="assets/btc.svg" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row style="text-align: center;">

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/btc.svg" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <img src="assets/btc.svg" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row style="text-align: center;">

      <ion-col>
        <ion-card>

          <ion-card-header>
            <img src="assets/btc.svg" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>

          <ion-card-header>
            <img src="assets/btc.svg" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row style="text-align: center;">

      <ion-col>
        <ion-card>

          <ion-card-header>
            <img src="assets/btc.svg" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>

          <ion-card-header>
            <img src="assets/btc.svg" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row style="text-align: center;">

      <ion-col>
        <ion-card>

          <ion-card-header>
            <img src="assets/btc.svg" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>

          <ion-card-header>
            <img src="assets/btc.svg" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row style="text-align: center;">

      <ion-col>
        <ion-card>

          <ion-card-header>
            <img src="assets/btc.svg" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>

          <ion-card-header>
            <img src="assets/btc.svg" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row style="text-align: center;">

      <ion-col>
        <ion-card>

          <ion-card-header>
            <img src="assets/btc.svg" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>

          <ion-card-header>
            <img src="assets/btc.svg" style="width: 22px; height: 22px;"><ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
