<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Asymetrex Volume
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asymetrex Volume</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-align-items-center" style="text-align: center;">
      <ion-col>
        <ion-card style="min-height: 138px;">
          <ion-card-header>
            <h2><img src="assets/btc.svg" style="width: 22px; height: 22px;"> BTC Volume</h2>
            <h5>{{ this.btc }} BTC</h5>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="min-height: 138px;">
          <ion-card-header>
            <h2><img src="assets/ltc.svg" style="width: 22px; height: 22px;"> LTC Volume</h2>
            <h5>{{ this.ltc }} LTC</h5>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="min-height: 138px;">
          <ion-card-header>
            <h2><img src="assets/doge.svg" style="width: 22px; height: 22px;"> DOGE Volume</h2>
            <h5>{{ this.doge }} DOGE</h5>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <img src="assets/coin-i-xam.png" style="width:24px;height:24px;" slot="start">
    <ion-label>Amity</ion-label>
    <ion-badge color="warning">{{this.xam}} BTC</ion-badge>
  </ion-item>

  <ion-item>
    <img src="assets/coin-i-aqua.png" style="width:24px;height:24px;" slot="start">
    <ion-label>Aqua</ion-label>
    <ion-badge color="warning">{{this.aqua}} BTC</ion-badge>
  </ion-item>

  <ion-item>
    <img src="assets/coin-i-ath.png" style="width:24px;height:24px;" slot="start">
    <ion-label>Atheios</ion-label>
    <ion-badge color="warning">{{this.ath}} BTC</ion-badge>
  </ion-item>

  <ion-item>
    <img src="assets/coin-i-bitc.png" style="width:24px;height:24px;" slot="start">
    <ion-label>BITC</ion-label>
    <ion-badge color="warning">{{this.bitc2}} BTC</ion-badge>
    <ion-badge color="medium" style="margin-left: 10px;">{{this.bitc}} LTC</ion-badge>
  </ion-item>

  <ion-item>
    <img src="assets/coin-i-cx.png" style="width:24px;height:24px;" slot="start">
    <ion-label>Catalyst</ion-label>
    <ion-badge color="warning">{{this.cx}} BTC</ion-badge>
  </ion-item>

  <ion-item>
    <img src="assets/coin-i-doge.png" style="width:24px;height:24px;" slot="start">
    <ion-label>Dogecoin</ion-label>
    <ion-badge color="warning">{{this.doge}} BTC</ion-badge>
    <ion-badge color="medium" style="margin-left: 10px;">{{this.doge2}} LTC</ion-badge>
  </ion-item>

  <ion-item>
    <img src="assets/coin-i-etho.png" style="width:24px;height:24px;" slot="start">
    <ion-label>Ether-1</ion-label>
    <ion-badge color="warning">{{this.etho}} BTC</ion-badge>
  </ion-item>

  <ion-item>
    <img src="assets/coin-i-mon.png" style="width:24px;height:24px;" slot="start">
    <ion-label>Moneybyte</ion-label>
    <ion-badge color="warning">{{this.mon}} BTC</ion-badge>
    <ion-badge color="medium" style="margin-left: 10px;">{{this.mon2}} DOGE</ion-badge>
  </ion-item>

  <ion-item>
    <img src="assets/coin-i-prkl.png" style="width:24px;height:24px;" slot="start">
    <ion-label>Perkle</ion-label>
    <ion-badge color="warning">{{this.prkl}} BTC</ion-badge>
  </ion-item>

  <ion-item>
    <img src="assets/coin-i-ubq.png" style="width:24px;height:24px;" slot="start">
    <ion-label>Ubiq</ion-label>
    <ion-badge color="warning">{{this.ubq}} BTC</ion-badge>
  </ion-item>

  <ion-item>
    <img src="assets/coin-i-xero.png" style="width:24px;height:24px;" slot="start">
    <ion-label>Xerom</ion-label>
    <ion-badge color="warning">{{this.xero}} BTC</ion-badge>
  </ion-item>

  <ion-item>
    <img src="assets/coin-i-eoe.png" style="width:24px;height:24px;" slot="start">
    <ion-label>808 Coin</ion-label>
    <ion-badge color="warning">{{this.eoe}} BTC</ion-badge>
  </ion-item>

</ion-content>
